@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --my-color: #fff;
  /* or any other variables/style */
}
/* In your global.css or a specific CSS file */
[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
}

/* Apply these variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* ============================= */

.custom-btn {
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 50px;
  text-align: center;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  background-color: #161213;
  background-image: radial-gradient(
    200% 70% at center 20%,
    rgba(48, 44, 45, 1) -30%,
    rgba(50, 46, 47, 1) 49%,
    rgba(22, 18, 19, 1) 50%,
    rgba(22, 18, 19, 1) 150%
  );
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
  border: 2px solid red; /* Added red border */
}

.custom-btn:hover {
  background-position-y: -50px;
}

/* NAVLINKS CSS======================  */

.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: currentColor;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%; /* Underline only under the text */
}

.nav-link:hover,
.nav-link.active {
  color: #00ffff; /* Customize hover/active color */
  transform: scale(1.2); /* Scale the text size on hover and active */
  font-weight: bold; /* Bold text on hover and active */
}

